In [1]:
# Required libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('bank-additional-full.csv', sep=';')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [5]:
# the functions:
def stratified_sample(df, strata, size=None, seed=None, keep_index= True):
    '''
    It samples data from a pandas dataframe using strata. These functions use
    proportionate stratification:
    n1 = (N1/N) * n
    where:
        - n1 is the sample size of stratum 1
        - N1 is the population size of stratum 1
        - N is the total population size
        - n is the sampling size
    Parameters
    ----------
    :df: pandas dataframe from which data will be sampled.
    :strata: list containing columns that will be used in the stratified sampling.
    :size: sampling size. If not informed, a sampling size will be calculated
        using Cochran adjusted sampling formula:
        cochran_n = (Z**2 * p * q) /e**2
        where:
            - Z is the z-value. In this case we use 1.96 representing 95%
            - p is the estimated proportion of the population which has an
                attribute. In this case we use 0.5
            - q is 1-p
            - e is the margin of error
        This formula is adjusted as follows:
        adjusted_cochran = cochran_n / 1+((cochran_n -1)/N)
        where:
            - cochran_n = result of the previous formula
            - N is the population size
    :seed: sampling seed
    :keep_index: if True, it keeps a column with the original population index indicator
    
    Returns
    -------
    A sampled pandas dataframe based in a set of strata.
    Examples
    --------
    >> df.head()
    	id  sex age city 
    0	123 M   20  XYZ
    1	456 M   25  XYZ
    2	789 M   21  YZX
    3	987 F   40  ZXY
    4	654 M   45  ZXY
    ...
    # This returns a sample stratified by sex and city containing 30% of the size of
    # the original data
    >> stratified = stratified_sample(df=df, strata=['sex', 'city'], size=0.3)
    Requirements
    ------------
    - pandas
    - numpy
    '''
    population = len(df)
    size = __smpl_size(population, size)
    tmp = df[strata]
    tmp['size'] = 1
    tmp_grpd = tmp.groupby(strata).count().reset_index()
    tmp_grpd['samp_size'] = round(size/population * tmp_grpd['size']).astype(int)

    # controlling variable to create the dataframe or append to it
    first = True 
    for i in range(len(tmp_grpd)):
        # query generator for each iteration
        qry=''
        for s in range(len(strata)):
            stratum = strata[s]
            value = tmp_grpd.iloc[i][stratum]
            n = tmp_grpd.iloc[i]['samp_size']

            if type(value) == str:
                value = "'" + str(value) + "'"
            
            if s != len(strata)-1:
                qry = qry + stratum + ' == ' + str(value) +' & '
            else:
                qry = qry + stratum + ' == ' + str(value)
        
        # final dataframe
        if first:
            stratified_df = df.query(qry).sample(n=n, random_state=seed).reset_index(drop=(not keep_index))
            first = False
        else:
            tmp_df = df.query(qry).sample(n=n, random_state=seed).reset_index(drop=(not keep_index))
            stratified_df = stratified_df.append(tmp_df, ignore_index=True)
    
    return stratified_df



def stratified_sample_report(df, strata, size=None):
    '''
    Generates a dataframe reporting the counts in each stratum and the counts
    for the final sampled dataframe.
    Parameters
    ----------
    :df: pandas dataframe from which data will be sampled.
    :strata: list containing columns that will be used in the stratified sampling.
    :size: sampling size. If not informed, a sampling size will be calculated
        using Cochran adjusted sampling formula:
        cochran_n = (Z**2 * p * q) /e**2
        where:
            - Z is the z-value. In this case we use 1.96 representing 95%
            - p is the estimated proportion of the population which has an
                attribute. In this case we use 0.5
            - q is 1-p
            - e is the margin of error
        This formula is adjusted as follows:
        adjusted_cochran = cochran_n / 1+((cochran_n -1)/N)
        where:
            - cochran_n = result of the previous formula
            - N is the population size
    Returns
    -------
    A dataframe reporting the counts in each stratum and the counts
    for the final sampled dataframe.
    '''
    population = len(df)# 40K
    size = __smpl_size(population, size)
    tmp = df[strata]
    tmp['size'] = 1
    tmp_grpd = tmp.groupby(strata).count().reset_index()
    
    tmp_grpd['samp_size'] = round(size/population * tmp_grpd['size']).astype(int)
    return tmp_grpd


def __smpl_size(population, size):
    '''
    A function to compute the sample size. If not informed, a sampling 
    size will be calculated using Cochran adjusted sampling formula:
        cochran_n = (Z**2 * p * q) /e**2
        where:
            - Z is the z-value. In this case we use 1.96 representing 95%
            - p is the estimated proportion of the population which has an
                attribute. In this case we use 0.5
            - q is 1-p
            - e is the margin of error
        This formula is adjusted as follows:
        adjusted_cochran = cochran_n / 1+((cochran_n -1)/N)
        where:
            - cochran_n = result of the previous formula
            - N is the population size
    Parameters
    ----------
        :population: population size
        :size: sample size (default = None)
    Returns
    -------
    Calculated sample size to be used in the functions:
        - stratified_sample
        - stratified_sample_report
    '''
    if size is None:
        cochran_n = round(((1.96)**2 * 0.5 * 0.5)/ 0.02**2)
        n = round(cochran_n/(1+((cochran_n -1) /population)))
    elif size >= 0 and size < 1:
        n = round(population * size)
    elif size < 0:
        raise ValueError('Parameter "size" must be an integer or a proportion between 0 and 0.99.')
    elif size >= 1:
        n = size
    return n

In [6]:
stratified_sample_report(df, ['marital'])

    marital   size  samp_size
0  divorced   4612        254
1   married  24928       1373
2    single  11568        637
3   unknown     80          4

In [7]:
# here I want a sample size of 10K rows
stratified_sample_report(df, ['marital'], 10000)

    marital   size  samp_size
0  divorced   4612       1120
1   married  24928       6052
2    single  11568       2809
3   unknown     80         19

In [8]:
stratified_sample_report(df, ['marital', 'education'], 10000)

     marital            education  size  samp_size
0   divorced             basic.4y   489        119
1   divorced             basic.6y   182         44
2   divorced             basic.9y   565        137
3   divorced          high.school  1193        290
4   divorced           illiterate     2          0
5   divorced  professional.course   657        160
6   divorced    university.degree  1337        325
7   divorced              unknown   187         45
8    married             basic.4y  3228        784
9    married             basic.6y  1767        429
10   married             basic.9y  4156       1009
11   married          high.school  5158       1252
12   married           illiterate    15          4
13   married  professional.course  3156        766
14   married    university.degree  6394       1552
15   married              unknown  1054        256
16    single             basic.4y   453        110
17    single             basic.6y   337         82
18    single             basic.9y  1316        320
19    single          high.school  3150        765
20    single           illiterate     1          0
21    single  professional.course  1424        346
22    single    university.degree  4406       1070
23    single              unknown   481        117
24   unknown             basic.4y     6          1
25   unknown             basic.6y     6          1
26   unknown             basic.9y     8          2
27   unknown          high.school    14          3
28   unknown  professional.course     6          1
29   unknown    university.degree    31          8
30   unknown              unknown     9          2

In [9]:
# sample
sample_df = stratified_sample(df, ['age', 'marital', 'education'], size=10000, seed=123, keep_index= True)
sample_df.head()

,index,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,37539,17,student,single,basic.9y,no,yes,no,cellular,aug,...,2,999,2,failure,-2.9,92.201,-31.4,0.869,5076.2,no
1,41088,18,student,single,basic.4y,no,yes,no,telephone,nov,...,1,13,2,success,-1.1,94.767,-50.8,1.049,4963.6,yes
2,39057,18,student,single,basic.9y,no,no,no,cellular,dec,...,2,999,0,nonexistent,-3.0,92.713,-33.0,0.712,5023.5,yes
3,27792,18,student,single,high.school,no,yes,yes,cellular,mar,...,1,999,0,nonexistent,-1.8,92.843,-50.0,1.687,5099.1,no
4,39593,18,student,single,unknown,no,no,no,telephone,may,...,1,999,2,failure,-1.8,93.876,-40.0,0.672,5008.7,no

In [10]:
sample_df.tail()

,index,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
9915,27815,88,retired,divorced,basic.4y,no,yes,yes,cellular,mar,...,2,999,0,nonexistent,-1.8,92.843,-50.0,1.663,5099.1,no
9916,38415,88,retired,divorced,basic.4y,no,no,no,cellular,oct,...,2,6,1,success,-3.4,92.431,-26.9,0.735,5017.5,yes
9917,27814,88,retired,divorced,basic.4y,no,yes,yes,cellular,mar,...,3,999,0,nonexistent,-1.8,92.843,-50.0,1.663,5099.1,no
9918,40621,88,retired,married,basic.4y,no,no,no,cellular,sep,...,2,999,0,nonexistent,-1.1,94.199,-37.5,0.882,4963.6,no
9919,39655,92,retired,married,unknown,no,yes,no,cellular,may,...,1,6,2,success,-1.8,93.876,-40.0,0.683,5008.7,no